{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='MesIA.css') }}">
	{% endblock %}
{% block main %}

	<ul class="list-admin">

		<li>
			<div class="mesia">
			<div class=container>
				<h2>Liste des utilisateurs</h2>
				<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>Nom de l'utilisateur</th>
				            <th>Supprimer</th>
				        </tr>
				    </thead>
				    <tbody>
       {% for x in users %}
			 <tr>
			 	{% if current_user.pseudo!=x.pseudo%}
				 <td>{{x.pseudo}}</td>
				 <td><a href="{{ url_for('suprUser', pseudo=x.pseudo) }}" ><button type="button" class="glyphicon glyphicon-trash"></button></a></td>
		 	</tr>
      {% endif %}
      {% endfor %}
					</tbody>
				</table>
				<h2>Liste des IA</h2>
				<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>Nom de l'IA</th>
										<th>Nom de l'utilisateur</th>
				            <th>Modifier</th>
				            <th>Supprimer</th>
				        </tr>
				    </thead>
				    <tbody>

       {% for x in ia %}
       {% if x.user_pseudo!=current_user.pseudo %}
			 <tr>
				 <td>{{x.name}}</td>
				 <td>{{ x.user_pseudo }}</td>
				 <td><a href="{{ url_for('modifIa', filename=x.name) }}"><button type="button" class="glyphicon glyphicon-pencil"></button></a></td>
				 <td><a href="{{ url_for('suprIa', filename=x.name) }}" ><button type="button" class="glyphicon glyphicon-trash"></button></a></td>
		 	</tr>
        {% endif %}
      {% endfor %}
					</tbody>
				</table>
			</div>
			{% endblock %}
